header {
  font-family: Helvetica;
  font-weight: bold;
}

h3 {
  color: #da0000;
  margin: 0;
}

input {
  text-align:right;
  width: 60px;
}

#table1 {
  width: 400px;
  padding: 10px;
  border: 1px solid#c8dada;
  border-radius: 3px;
  float: left;
}

#table2 {
  width: 400px;
  padding: 10px;
  border: 1px solid#c8dada;
  border-radius: 3px;
  float: right;
}

div, td {
  padding: 12px;
}

